@{
    Layout = "~/Views/Shared/_Layout_2.cshtml";
    ViewBag.Title = "Productos";
}
@section Styles {
    <style>
        .header-tech {
            padding-top: 20px;
            background-color: #FFFFFF;
        }

            .header-tech h1 {
                color: #0094ff;
                font-weight: 700;
                font-size: 38px;
                text-transform: uppercase;
                text-shadow: none;
                letter-spacing: -1.5px;
            }

            .header-tech p {
                color: #0094ff;
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 1.4;
                font-weight: 700;
                text-transform: uppercase;
                text-shadow: none;
            }
    </style>
    <style>
        .view-group {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            padding-left: 0;
            margin-bottom: 0;
        }

        .thumbnail {
            margin-bottom: 30px;
            padding: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }

        .item.list-group-item {
            float: none;
            width: 100%;
            background-color: #fff;
            margin-bottom: 30px;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 1rem;
            border: 0;
        }

            .item.list-group-item .img-event {
                float: left;
                width: 30%;
            }

            .item.list-group-item .list-group-image {
                margin-right: 10px;
            }

            .item.list-group-item .thumbnail {
                margin-bottom: 0px;
                display: inline-block;
            }

            .item.list-group-item .caption {
                float: left;
                width: 70%;
                margin: 0;
            }

            .item.list-group-item:before, .item.list-group-item:after {
                display: table;
                content: " ";
            }

            .item.list-group-item:after {
                clear: both;
            }

           
    </style>
}
    <div class="row header-tech">
        <div class="col-md-3">
            <img src="~/Images/logoprincipal2.png" width="229" height="400" alt="Technology" class="img-responsive pull-left" />
        </div>
        @*<div class="col-md-6">
            <h1>Comprometidos con usted</h1>
            <p>Comprometidos con usted</p>
            <p>fundada en el año 2011, es una empresa mexicana dedicada a la importación y desarrollo de tecnología en general. En la actualidad nos hemos consolidado como la empresa líder en distribución y venta en el mercado nacional. </p>
        </div>*@

    </div>

<!-- Carrousel-->

<div class="row">
    <ul class="bxslider-principal"></ul>
</div>

<div class="wrapper wrapper-content">
    <div class="container">
        <!-- Catalogo productos-->
        @Html.Partial("Partial/_MensajePrecios")
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Productos nuevos</h5>
                        <span class="label label-primary">Actualizado @DateTime.Now</span>
                        @Html.Partial("Partial/_CategoriaID")
                    </div>
                    <!-- Grid productos-->
                    @Html.Partial("Partial/_GridProducto")
                </div>
            </div>
        </div>
        <!-- Fin catalogos productos-->
        <!-- Modal detalle producto-->
        @Html.Partial("Modal/_ModalDetalleProducto")
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            obtenerNuevosProductos();
            cargaBanner("principal", 6);
        });
    </script>
    <script type="text/javascript" src="~/Scripts/mvc/carrito/index.js"></script>
}
